@media only screen and (max-width: 425px) {
    #imie_nazwisko{
        font-size: 5em;
        margin-left: 0px;
    }

    #zainteresowania{
        margin-left: 0px;
        padding: 30px;
        margin-right: 0px;
        margin-bottom: 20px;
        display:inline-block;
    }

    #projekt{
        margin-bottom: 20px;
    }
}